fastapi        
uvicorn        
sqlalchemy     
asyncpg        
geoalchemy2    
shapely        
alembic   
pydantic 
pydantic-settings 
sqlalchemy[asyncio]
alembic
sqlalchemy[asyncio]
pydantic[email]
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
redis
psycopg2-binary
fastapi-mail